.about-page {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    text-align: left;

    .about-section {
        background-color: #f8f8f8;

        .about-title {
            border-bottom-width: 1px;
            border-style: solid;
            margin-bottom: 30px;
            padding-bottom: 20px;
            text-align: left;

            .job-title {
                color: #767676;
            }

            .name {
                font-size: 22px;
                font-weight: 700;
            }
        }

        .about-text {
            border-bottom-width: 1px;
            border-style: solid;
            color: #767676;
            margin-bottom: 30px;
            padding-bottom: 30px;
            font-family: Mulish, sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            text-align: justify;

            p {
                margin-bottom: 11px;
            }
        }

        .btn-cv {
            background-color: black;
            color: white;
            padding: 10px 40px;
            width: fit-content;
        }

        .image {
            background-image: url("../images/Nimesha.jpeg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 200px;
            margin-bottom: 35px;
            width: 100%;
        }

        .short-info {
            border-bottom-width: 1px;
            border-style: solid;
            font-size: 16px;
            font-family: Mulish, sans-serif;
            margin-bottom: 40px;
            padding-bottom: 30px;
            text-align: left;

            li {
                display: flex;
            }

            .info {
                color: black;
                font-weight: 700;
                min-width: 100px;
                margin-right: 10px;
            }

            .details {
                color: #767676;
            }
        }

        .title {
            font-size: 30px;
            font-weight: 800;
            margin-bottom: 60px;
        }

    }

    .container {
        padding: 100px 20px 80px 20px;
    }

    .experience-section, .education-section {

        ul {
            position: relative;
            display: inline-block;
            list-style: none;

            li {
                position: relative;
                padding: 0 0 45px 20px;

                .list-inner {
                    display: flex;
                    .place {
                        padding-left: 10px;
                        width: 50%;

                        h3 {
                            font-size: 16px;
                            font-weight: 600;
                        }

                        span {
                            font-size: 14px;
                        }
                    }

                    .time {
                        background-color: rgba(0,0,0,.05);
                        border-radius: 50px;
                        display: inline-block;
                        height: 40px;
                        padding: 8px 27px;
                        margin-right: 20px;
                        white-space: nowrap;
                        width: 50%;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    height: 18px;
                    width: 18px;
                    background: #fff;
                    border-radius: 100%;
                    border: solid 1px #CCC;
                    left: -9px;
                    top: 8px;
                }
            }

            li:last-child {
                padding-bottom: 0;
            }

            &::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,.07);
            }
        }
    }

    .knowledge-section {
        text-align: left;

        .skills {
            font-family: Mulish, sans-serif;

            ul {
                li {
                    padding-left: 25px;
                }
            }
        }
    }

    .skill-section {
        .progress {
            font-family: Mulish, sans-serif;
        }
    }

    .sub-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .about-page {
        padding-left: 300px;

        .container {
            padding: 100px 60px 40px 60px;
        }
    }
}