.about-page {
    font-family: Montserrat, sans-serif;
    font-size: 15px;

    .about-section {
        background-color: #f8f8f8;

        .about-title {
            border-bottom-width: 1px;
            border-style: solid;
            margin-bottom: 30px;
            padding-bottom: 20px;
            text-align: left;

            .job-title {
                color: #767676;
            }

            .name {
                font-size: 22px;
                font-weight: 700;
            }
        }

        .about-text {
            border-bottom-width: 1px;
            border-style: solid;
            color: #767676;
            margin-bottom: 30px;
            padding-bottom: 30px;
            font-family: Mulish, sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;

            p {
                margin-bottom: 11px;
            }
        }

        .btn-cv {
            background-color: black;
            color: white;
            padding: 10px 40px;
            width: fit-content;
        }

        .image {
            background-image: url("../images/Nimesha.jpeg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 200px;
            margin-bottom: 35px;
            width: 100%;
        }

        .short-info {
            border-bottom-width: 1px;
            border-style: solid;
            font-size: 16px;
            font-family: Mulish, sans-serif;
            margin-bottom: 40px;
            padding-bottom: 30px;
            text-align: left;

            li {
                display: flex;
            }

            .info {
                color: black;
                font-weight: 700;
                min-width: 100px;
                margin-right: 10px;
            }

            .details {
                color: #767676;
            }
        }

        .sub-title {
            font-size: 20px;
        }

        .title {
            font-size: 30px;
            font-weight: 800;
            margin-bottom: 60px;
        }

    }

    .container {
        padding: 0 20px 80px 20px;
    }
}