.blog-page {
    //  background-color: #f8f8f8;
    background-color: #e9f9ff;
      font-family: Montserrat, sans-serif;
      height: 100vh;
      padding-top: 60px;
      text-align: left;
  
      .container {
          padding: 30px 20px 40px 20px;
  
          .details {
            display: flex;
            justify-content: space-between;
          }
  
          .section-name {
              background-color: rgba(0, 0, 0, .04);
              color: #333;
              display: inline-block;
              font-size: 12px;
              font-weight: 600;
              font-family: Montserrat, sans-serif;
              margin-bottom: 11px;
              padding: 10px;
              text-transform: uppercase;
          }
  
          .title {
              font-size: 30px;
              font-weight: 800;
              font-family: Montserrat, sans-serif;
              margin-bottom: 30px;
          }
      }
  }
  
  @media only screen and (min-width:768px) {
      .blog-page {
          padding-left: 300px;
  
          .container {
              padding: 40px 60px 40px 60px;
              max-width: 1070px;
              margin: auto;
          }
      }
  }