.home-page {
    background: #f8f8f8;
    font-family: Montserrat, sans-serif;
    height: 100vh;
    padding-top: 60px;

    .container {
        padding: 30px 20px 40px 20px;

        .content {
            align-items: center;
            display: flex;
            flex-direction: column;

            .avatar {
                background-image: url(../images/Nimesha.jpeg);
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 100%;
                //filter :grayscale(100%);
                height: 200px;
                width: 200px;

                animation: morph 8s ease-in-out infinite 1s;
                background-blend-mode: multiply;

                &:hover {
                    filter :grayscale(0%);
                }
            }

            .details {
                padding-top: 30px;
                
                .job {
                    color: #767676;
                    font-size: 15px;
                    font-weight: 500;
                    margin-bottom: 25px;
                    text-align: justify;
                }

                .name {
                    font-size: 25px;
                    font-weight: 800;
                    margin-bottom: 10px;
                }

                .social {
                    ul {
                        align-items: center;
                        display: flex;
                        place-content: center;

                        li {
                            cursor: pointer;
                            margin: 0 6px;

                            .icon {
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .home-page {
        padding-left: 300px;
        padding-top: 0;

        .container {
            display: flex;
            height: 100vh;
            max-width: 1070px;
            margin: auto;
            padding: 40px 60px 40px 60px;

            .content {
                flex-direction: row;

                .avatar {
                    min-width: 200px;
                }

                .details {
                    margin-left: 50px;

                    .name {
                        font-size: 55px;
                    }
                }
            }
        }
    }
}