.home-page {
    //background: #f8f8f8;
    background: #e9f9ff;
    color: #130f49;
    font-family: Montserrat, sans-serif;
    padding-top: 60px;

    .container {
        padding: 30px 20px 40px 20px;

        .content {
            align-items: center;
            display: flex;
            flex-direction: column;

            .avatar {
                min-height: 200px;
                min-width: 200px;
                position: relative;

                .image {
                    animation: wave 8s ease-in-out infinite 0s;
                    background-image: url(../images/me2.jpg);
                    background-blend-mode: multiply;
                    // box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, .3);
                    box-shadow: 0px 0px 0px 9px rgb(198 198 198 / 30%);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    bottom: 0px;
                   // filter: grayscale(100%);
                    left: 0px;
                    position: absolute;
                    right: 0px;
                    top: 0px;

                    &:hover {
                        filter: grayscale(0%);
                    }
                }
            }

            .details {
                padding-top: 30px;

                .job {
                    //color: #767676;
                    font-size: 15px;
                    font-weight: 500;
                    margin-bottom: 25px;
                    text-align: justify;
                }

                .name {
                    font-size: 25px;
                    font-weight: 800;
                    margin-bottom: 10px;
                }

                .social {
                    ul {
                        align-items: center;
                        display: flex;
                        place-content: center;

                        li {
                            cursor: pointer;
                            margin: 0 6px;

                            .icon {
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .home-page {
        height: 100vh;
        padding-left: 300px;
        padding-top: 0;

        .container {
            display: flex;
            height: 100vh;
            max-width: 1070px;
            margin: auto;
            padding: 40px 60px 40px 60px;

            .content {
                flex-direction: row;

                .avatar {
                    border-radius: 9999px;
                    min-height: 250px;
                    min-width: 250px;
                }

                .details {
                    margin-left: 50px;

                    .name {
                        font-size: 55px;
                    }
                }
            }
        }
    }
}

@keyframes wave {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}