.portfolio-page {
   // background-color: #f8f8f8;
   background-color: #e9f9ff;
    font-family: Montserrat, sans-serif;
    padding-top: 60px;
    text-align: left;

    .container {
        padding: 40px 20px 80px 20px;

        .list-wrapper {
            .portfolio-list {
                .portfolio {
                    cursor: pointer;
                    margin-bottom: 40px;

                    .inner {
                        background-color: white;
                        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
                        padding-bottom: 20px;

                        a {
                            .details {
                                font-size: 14px;
                                font-weight: 600;
                                padding: 30px 15px 20px 15px;
                                text-align: left;
                            }

                            .image-wrap {
                                .image {
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position-x: center;
                                    min-height: 232px;
                                    width: 100%;
                                }
                            }

                            .read-more-text {
                                text-align: left;
                                font-size: 12px;
                                font-weight: 500;
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
        }

        .section-name {
            background-color: rgba(0, 0, 0, .04);
            color: #333;
            display: inline-block;
            font-size: 12px;
            font-weight: 600;
            font-family: Montserrat, sans-serif;
            margin-bottom: 11px;
            padding: 10px;
            text-transform: uppercase;
        }

        .title {
            font-size: 30px;
            font-weight: 800;
            font-family: Montserrat, sans-serif;
            margin-bottom: 30px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .portfolio-page {
        padding-left: 300px;

        .container {
            padding: 40px 60px 40px 60px;
            max-width: 1070px;
            margin: auto;

            .list-wrapper {
                .portfolio-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .portfolio {
                        width: 49%;

                        .inner {
                            height: 430px;
                            padding-top: 20px;

                            a {
                                .details {
                                    padding: 15px;
                                }

                                .image-wrap {
                                    background-color: #f8f8f8;
                                    margin: auto;
                                    width: 88%;
                                    transition-property: all;
                                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                    transition-duration: 300ms;

                                    .image {
                                        border-radius: 12px;
                                      //  filter: grayscale(100%);
                                    }
                                }
                            }

                        }

                        &:hover,
                        &:active,
                        &:focus {
                            .inner {
                                .image-wrap {
                                    transform: scale(1.1) translateZ(0);

                                    .image {
                                        filter: grayscale(0%);
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}