.blog-card {
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
    padding-bottom: 20px;
  

    &:hover {
        .img-wrap {
            transform: scale(1.1) translateZ(0);
        }
    }

    .description {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        padding: 20px 10px 10px 10px;
        place-content: center;
    }

    .img-wrap {
        background-color: #f8f8f8;
        margin: auto;
        width: 88%;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }
}


@media only screen and (min-width: 768px) {
    .blog-card {
        padding-top: 20px;
        width: 49%;
        //width: calc(100vw - 400px) !important;

        &:hover {
            .img-wrap {
                .image {
                    filter: grayscale(0%);
                }
            }
        }

        .img-wrap {
            .image {
                border-radius: 12px;
            }
        }
        
    }
}