.nav-bar {
    background-color: white;
    border-right: 1px solid #ebebeb;
    color: #130f49;
    font-family: Montserrat, sans-serif;
    height: calc(100vh - 60px);
    position: fixed;
    right: -200px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 200px;

    .container {
        padding: 100px 20px 0 20px;

        ul {
            li {
                cursor: pointer;
                margin-bottom: 10px;
                text-align: right;
            }
        }
    }

    &.opened {
        right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .nav-bar {
        left: 0;
        height: 100vh;
        top: 0;
        width: 300px;

        .container {
            align-items: center;
            display: flex;
            height: 100vh;
            padding: 0 20px 0 60px;

            ul {
                li {
                    text-align: left;
                }
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    .nav-bar {
        width: 400px;
    }
}