.nav-bar {
    background-color: white;
    font-family: Montserrat, sans-serif;
    height: calc(100vh - 60px);
    position: fixed;
    right: -200px;
    width: 200px;

    .container {
        padding: 100px 20px 0 20px;

        ul {
            li {
                cursor: pointer;
                margin-bottom: 10px;
                text-align: right;
            }
        }
    }

    &.opened {
        right: 0;
    }
}